/*========== ABOUT ==========*/
.about-img {
  width: 20rem;
  border-radius: 0.8rem;
  justify-self: center;
  align-self: center;
}

.about-description {
  text-align: center;
  margin-bottom: var(--mb-3-2);
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-3-2);
}

.about-info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.about-info-description {
  font-size: var(--small-font-size);
}

.about-info-title,
.about-info-description {
  display: block;
  text-align: center;
}

.about-button {
  display: flex;
  justify-content: center;
}


